@import url(./style.css);
/* Estilos para a seção de navegação móvel */
#mobile {
  display: block;
}

/* Estilos para a barra de navegação móvel */
#mobile-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  /*if Fixed, stays always in front of the content and scrolls with it*/
  /*if absolute, stays on top of the content*/
  position: absolute;
  top: 0;
  width: 95%;
  z-index: 100;
}

/* Estilos para a área da barra de navegação */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1280px;
  margin-inline: auto;
  border-radius: 10px;
  /* outline: 1px solid var(--bg-400);
  background-color: var(--bg-200); */
  /*border: 1px solid var(--primary-100);
  */
  margin-top: 1%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Estilos para o logotipo */
.logo {
  /*no logo*/
  width: 100px;
}
.contact-link {
  background-color: var(--primary-100);
  padding: 10px 20px;
  border-radius: 10px;
  display: none;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Estilos para o botão do menu hamburguer */
.openbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Estilos para as barras do botão hamburguer */
.bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px auto;
  transition: 0.4s;
}

/* Estilos para as barras do botão X (fechar) quando o menu estiver ativo */
.openbtn.active-menu .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-4px, 6px);
  -webkit-transform: rotate(-45deg) translate(-4px, 6px);
  -moz-transform: rotate(-45deg) translate(-4px, 6px);
  -ms-transform: rotate(-45deg) translate(-4px, 6px);
  -o-transform: rotate(-45deg) translate(-4px, 6px);
}

.openbtn.active-menu .bar:nth-child(2) {
  opacity: 0;
}

.openbtn.active-menu .bar:nth-child(3) {
  transform: rotate(45deg) translate(-4px, -6px);
  -webkit-transform: rotate(45deg) translate(-4px, -6px);
  -moz-transform: rotate(45deg) translate(-4px, -6px);
  -ms-transform: rotate(45deg) translate(-4px, -6px);
  -o-transform: rotate(45deg) translate(-4px, -6px);
}

/* Estilos para o menu de navegação móvel */
#mobile-menu {
  position: absolute;
  /*Alturadomenuemrelaçãoaotopodoelementopai*/
  top: 98%;
  display: flex;
  flex-direction: column;
  outline: 1px solid #00000000;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5px;
  margin-inline: auto;
  list-style-type: none;
  width: 100%;
  padding: 0;
  overflow: hidden;
  background-color: var(--bg-200);
  border-radius: 10px;
  max-height: 0;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Estilos para o menu de navegação móvel quando ativo */
#mobile-menu.active-menu {
  max-height: 5000px;
  outline: 1px solid var(--primary-100);
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
#mobile-menu li {
  opacity: 0;
}

#mobile-menu.active-menu li {
  margin-inline: auto;
  width: 99%;
  opacity: 1;
  border-bottom: 1px solid var(--bg-300);
  float: left;
}

/* Estilos para os itens do menu de navegação móvel */
#mobile-menu li a {
  display: block;
  color: white;
  padding: 18px 16px;
  text-decoration: none;
}

/* Estilos para os itens do menu de navegação móvel ao passar o mouse */
#mobile-menu li a:hover {
  background-color: var(--bg-400);
}

@media only screen and (min-width: 1024px) {
  #mobile {
    display: none;
  }
}
